---
import axios from 'axios';
import DevToPosts from '../components/DevToPosts.astro';
import Hero from '../components/Hero.astro';
import Title from '../components/Title.astro';
import Newsletter from '../components/Newsletter';
import Layout from '../layouts/Layout.astro';
import { Post } from '../model/post';

const posts = await axios.get<Post[]>('https://dev.to/api/articles?username=fabiobiondi')
---

<Layout title="Welcome to Astro.">
    <Hero />
    <Title>Dev.To Posts</Title>
    <DevToPosts items={posts.data} />
    <Newsletter client:visible />
</Layout>
